@model IglaClub.Web.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Change your password</legend>

        @Html.ValidationSummary()
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>

        <p>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Change password
            </button>
        </p>
    </fieldset>
}
