@using IglaClub.Web.Helpers.Html
@model IglaClub.ObjectModel.Entities.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 column-padding">
        @LinkHelper.GoBackLink(Url.Action("Index", "Tournament"), "go back to main page")

        <div class="col-md-4 col-sm-6">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Edit profile details</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Lastname)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lastname)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nickname)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nickname)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Login)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreationDate)

        
                    <p class="submit-button">
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="glyphicon glyphicon-circle-arrow-right right-side-margin"></i>Save
                        </button>
                    </p>
                </fieldset>
            }


        </div>
    </div></div>