@model IglaClub.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
@*todo create logout*@
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <fieldset class="login">
        <legend>Log in</legend>
         @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control"})
        </div>

        <div class="editor-field">
            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-control"})
            @Html.LabelFor(model => model.RememberMe)
        </div>
        <p>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-circle-arrow-right"></i>Log in
            </button>
        </p>
        <p class="submit-button">
            or @Html.ActionLink("register", "Register"), if you don't have an account.
        </p>
    </fieldset>
    <br />

}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
