@model IglaClub.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<p class="message-success">@ViewBag.StatusMessage</p>

<div class="row">
    @*    <div class="col-md-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Profile details</button>
  <button type="button" class="btn btn-default">Change password</button>
  <button type="button" class="btn btn-default">Settings</button>
</div>
    </div>*@
    <div class="col-md-10">
        @if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

    </div>
</div>
@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
