@model IglaClub.Web.Models.ViewModels.ResetPasswordModel

@{
    ViewBag.Title = "Reset password";
}
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    //todo add forgot password
    @Html.AntiForgeryToken()

    <fieldset class="login">
        <legend>Reset your password</legend>
         @Html.ValidationSummary(true)
        <div class="editor-label">
            <label for="UserName">Type your email</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
        </div>
        <p>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-circle-arrow-right right-side-margin"></i>Reset
            </button>
        </p>
    </fieldset>
    <br />

}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
