@model IglaClub.Web.Models.ViewModels.ResetPasswordModel

@{
    ViewBag.Title = "Reset password";
}
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <fieldset class="login">
        <legend>Reset your password</legend>
         @Html.ValidationSummary(true)
        <div class="editor-label">
            <label for="UserName">Type your login or email</label>
            <a role="button" class="popovers" data-toggle="popover" 
               data-content="If you haven't provided email while account creating, password recovery won't be possible. Please contact <a href='/home/contact'>IGLAclub Team</a> for support." >
                <i class=" glyphicon glyphicon-question-sign"></i>
            </a>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
        </div>
        <p>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-circle-arrow-right right-side-margin"></i>Reset
            </button>
        </p>
    </fieldset>
    <br />

}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function (){
        $("[data-toggle=popover]").popover({ html: true })
    });
</script>