@model IglaClub.Web.Models.SetNewPasswordModel
@using (Html.BeginForm("ResetPasswordStep2", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="login">
        <legend>Set Password Form</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.HiddenFor(m => m.Token)
        <p>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-circle-arrow-right right-side-margin"></i>Set password
            </button>
        </p>
    </fieldset>
}