@model List<IglaClub.ObjectModel.Entities.Result>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = @Model;
}

<h2>Edit</h2>
@using (Html.BeginForm()){
<table class="result">
@*    <tr>
        <th>
            @Html.DisplayNameFor(list[0].NumberOfTricks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultNsPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreNs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreEw)
        </th>
        <th></th>
    </tr>*@

    @for (int i = 0; i < @Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.TextBoxFor(m => m[i].NumberOfTricks)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].ContractLevel)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].ResultNsPoints)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].RoundNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].TableNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].ScoreNs)
            </td>
            <td>
                @Html.TextBoxFor(m => m[i].ScoreEw)
            </td>
        </tr>
    }
    if(@Model.Any())
    {@Html.HiddenFor(m => m[0].TournamentId)}
    


</table>
<input type="submit" value="Zapisz"/>
}