@using IglaClub.ObjectModel.Consts
@using IglaClub.ObjectModel.Enums
@using IglaClub.Web.Helpers.Html
@model IglaClub.ObjectModel.Entities.Result

<h2>Edit result for board number @Model.Board.BoardNumber</h2>

@{
    var possiblePlayedByValues = new List<NESW> {NESW.PassedOut, NESW.North, NESW.South, NESW.West, NESW.East};
}
@using (Html.BeginForm())
{
    <div class="field-validation-error defaultMargin">
        @Html.ValidationSummary()
    </div>

    <table class="result">
        <tr>
            <td>@Html.DisplayNameFor(m => m.RoundNumber):</td>
            <td>
                @Model.RoundNumber
            @Html.HiddenFor(m => m.RoundNumber)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.TableNumber):</td>
        <td>
            @Model.TableNumber
        @Html.HiddenFor(m => m.TableNumber)
    </td>
</tr>
<tr>
    <td>NS:</td>
    <td>
        @Model.NS.PairNumber
    @Html.HiddenFor(m => m.NS.PairNumber)
</td>
</tr>
<tr>
    <td>EW:</td>
    <td>
        @Model.EW.PairNumber
    @Html.HiddenFor(m => m.EW.PairNumber)
</td>
</tr>
<tr>
    <td>Board:</td>
    <td>
        @Model.Board.BoardNumber
    @Html.HiddenFor(m => m.Board.BoardNumber)
</td>
</tr>

</table>
    <table class="result">
        <tr>
            <th>
                @Html.Label("Short form")
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ContractLevel)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ContractColor)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ContractDoubled)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PlayedBy)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.NumberOfTricks)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.TextBox("ShortScore", "", new { Title = StringResources.ShortScoreTooltip })
            </td>
            <td>
                @Html.EditorFor(m => m.ContractLevel, new { type = "number", min = "0", max = "7" })
            </td>
            <td>
                @TournamentHelper.ContractColorsDropDown("contract-color", @Model.ContractColor)
            </td>
            <td>
                @Html.DropDownListFor(m => m.ContractDoubled, new SelectList(Enum.GetValues(typeof(ContractDoubled)), @Model.ContractDoubled))
            </td>
            <td>
                @Html.DropDownListFor(m => m.PlayedBy, new SelectList(possiblePlayedByValues), @Model.PlayedBy)
            </td>
            <td>
                @Html.EditorFor(m => m.NumberOfTricks)
            </td>
            <td>
                @Html.HiddenFor(m => m.TournamentId)
                @Html.HiddenFor(m => m.BoardId)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ResultNsPoints)
                @Html.HiddenFor(m => m.ScoreEw)
                @Html.HiddenFor(m => m.ScoreNs)
            </td>
        </tr>
    </table>
    <input type="submit" value="Save" class="btn btn-info btn-small" />
    <a href="@Url.Action("RoundDetails", "Round", new { tournamentId = Model.TournamentId })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back
    </a>
}
<script src="~/Scripts/jquery.ddslick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#contract-color').ddslick();
    });
</script>