@using IglaClub.ObjectModel.Enums
@using IglaClub.ObjectModel.Tools
@model List<IglaClub.ObjectModel.Entities.Result>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = @Model;
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div class="field-validation-error defaultMargin">
            @Html.ValidationSummary()
    </div>
    
    <table class="result">
        <tr>

            <th>
                @Html.DisplayNameFor(m => m[0].RoundNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(m => m[0].TableNumber)
            </th>
            <th>
               NS @Html.DisplayNameFor(m => m[0].NS.PairNumber)
            </th>
            <th>
                EW @Html.DisplayNameFor(m => m[0].EW.PairNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].Board.BoardNumber)
            </th>
            <th>
                @Html.Label("Short form")
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ContractLevel)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ContractColor)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ContractDoubled)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].PlayedBy)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].NumberOfTricks)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ResultNsPoints)
            </th>
            
            <th>
                @Html.DisplayNameFor(m => m[0].ScoreNs)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ScoreEw)
            </th>
            <th>
                @Html.DisplayNameFor(m => m[0].ResultNsPoints)
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < @Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.EditorFor(m => m[i].RoundNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m[i].TableNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m[i].NS.PairNumber)
                </td>
                <td>
                    @Html.EditorFor(m => m[i].EW.PairNumber)
                </td>
                
                <td>
                    @Html.EditorFor(m => m[i].Board.BoardNumber)
                </td>
                <td>
                    @Html.TextBox("ShortScore["+i+"]","",new {Title = "[Level][Color][double][dealer][result] \r\n i.e. 3HxE-1, 3C N="})
                </td>
                <td>
                    @Html.EditorFor(m => m[i].ContractLevel, new {type="number", min = "0", max = "7"})
                </td>
                <td>
                    @Html.DropDownListFor(m => m[i].ContractColor, new SelectList(Enum.GetValues(typeof(ContractColors)), @Model[i].ContractColor), new { data_image = "" })

                </td>
                <td>
                    @Html.DropDownListFor(m => m[i].ContractDoubled, new SelectList(Enum.GetValues(typeof(ContractDoubled)), @Model[i].ContractDoubled))

                </td>

                <td>
                    @Html.DropDownListFor(m => m[i].PlayedBy, new SelectList(Enum.GetValues(typeof(NESW)), @Model[i].PlayedBy))
                </td>
                <td>
                    @Html.EditorFor(m => m[i].NumberOfTricks)
                </td>
                <td>
                    @Html.TextBoxFor(m => m[i].ResultNsPoints)
                </td>
                
                <td>
                    @Html.TextBoxFor(m => m[i].ScoreNs)
                </td>
                <td>
                    @Html.TextBoxFor(m => m[i].ScoreEw)
                </td>
                <td>
                    @Html.TextBoxFor(m => m[i].ResultNsPoints)
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = Model[i].Id })" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
                <td>
                    @Html.HiddenFor(m => m[i].TournamentId)
                    @Html.HiddenFor(m => m[i].BoardId)
                    @Html.HiddenFor(m => m[i].Id)
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Save" class="btn btn-info btn-small" />
            
        
    
    <button class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-plus-sign"></span>
        @Html.ActionLink("Add new result", "AddNewResult", "Results", new { tournamentId = Model[0].TournamentId}, null)
    </button>
    <button class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-arrow-left"></span>
        @Html.ActionLink("Back", "Manage", "Results", new { tournamentId = Model[0].TournamentId}, null)
    </button>
}