@model IglaClub.Web.Models.ViewModels.TournamentResultsVm
@{
    ViewBag.Title = "Tournament results";
}


<h2>Tournament "@Model.Tournament.Name" results</h2>
@{
    var grid = new WebGrid(Model.Results, rowsPerPage: 40);
    //TODO: filter by round
    //var roundsList = Model.Results.Select(r => r.RoundNumber).Distinct().Select(rn=>new SelectListItem(){Text = rn.ToString(), Value = rn.ToString()}).ToList();
    //roundsList.Insert(0, new SelectListItem() { Text = "All rounds", Value = "-1" });
}
@*Round number: @Html.DropDownList("RoundNumberDD", roundsList, new {@class = "roundChooser"})*@

<div>
    

    <a href="@Url.Action("CalculateResultsComplete", "Tournament", new { id = Model.Tournament.Id })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-export"></span>
        Calculate results
    </a>

    <a href="@Url.Action("GenerateNextRound", "Tournament", new { tournamentId = Model.Tournament.Id, withPairsRepeat = false })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        Generate next round - no pairs repeat
    </a>
    <a href="@Url.Action("GenerateNextRound", "Tournament", new { tournamentId = Model.Tournament.Id, withPairsRepeat = true })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        Generate next round with pairs repeat
    </a>
    <a href="@Url.Action("RemoveLastRound", "Results", new { tournamentId = Model.Tournament.Id })"
       class="btn btn-info btn-small" title="Remove whole last round, all results">
        <span class="glyphicon glyphicon-remove"></span>

        Remove last round
    </a>
</div>
<div class="row">

    <a href="@Url.Action("Edit", new { tournamentId = @Model.Tournament.Id })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit results
    </a>
    
    <a href="@Url.Action("Manage", "Tournament", new { id = Model.Tournament.Id })"
       class="btn btn-info btn-small">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Manage tournament
    </a>
</div>

<div id=""> 
    @Html.Partial("_ResultsList", Model.Results)
</div>

