@model IglaClub.Web.Models.ViewModels.TournamentResultsVm
@{
    ViewBag.Title = "Tournament results";
}
<div class="row">
    <div class="col-md-12 col-xs-12 column-padding">
        <div><a href="@Url.Action("Manage", "Tournament", new { id = Model.Tournament.Id })"
           class="">
            <span class="glyphicon glyphicon-arrow-left"></span>
            go back to Manage tournament
        </a></div>
        
        <span class="medium-header right-side-margin">Tournament results</span>
        <span class="small-header">@Model.Tournament.Name</span>
        
            
        <div>
            <div class="col-md-12 col-xs-12">
            <a href="@Url.Action("CalculateResultsComplete", "Tournament", new { id = Model.Tournament.Id })"
               class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh results
            </a>


                <a href="@Url.Action("Edit", new { tournamentId = @Model.Tournament.Id })"
                   class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit results
                </a>
            <a href="@Url.Action("RemoveLastRound", "Results", new { tournamentId = Model.Tournament.Id })"
               class="btn btn-info btn-sm" title="Remove whole last round, all results">
                <span class="glyphicon glyphicon-remove"></span>
                Remove last round
            </a>
                <a href="@Url.Action("GenerateNextRound", "Tournament", new { tournamentId = Model.Tournament.Id, withPairsRepeat = false })"
                   class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    Generate next round no pairs repeat
                </a>
                <a href="@Url.Action("GenerateNextRound", "Tournament", new { tournamentId = Model.Tournament.Id, withPairsRepeat = true })"
                   class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    Generate next round with pairs repeat
                </a>
            </div>

        </div>
        <br />
        <div>
            @Html.Partial("_ResultsList", Model.Results)
        </div>
    </div>
</div>
