@model IglaClub.Web.Models.ViewModels.Clubs.ClubsListViewModel

<span class="medium-header">@Model.Header</span>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
@*            <th>
                Coordinates
            </th>*@
            <th>
                Location
            </th>
            <th>
                Members
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model.Clubs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => club.Club.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => club.Club.Description)
                </td>
 @*               <td>
                    @Html.DisplayFor(modelItem => club.Coordinates)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => club.Club.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => club.MembersCount)
                </td>
                <td>
                    @if (Model.SubscribeMode)
                    {
                        @Html.ActionLink("Subscribe |", "Subscribe", new {id = club.Club.Id})
                    }
                    else
                    {
                        @Html.ActionLink("Unsubscribe |", "Unsubscribe", new {id = club.Club.Id})
                        
                    }
                    @Html.ActionLink("Details", "Details", new { id = club.Club.Id })
                </td>
            </tr>
        }
    </tbody>
</table>