@model IglaClub.ObjectModel.Entities.Club

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <button type="button" class="btn btn-primary btn-small" id="pairSearchSubmit">Subscribe</button>
    <div class="row">
        
        
        <div class="col-md-6">

            <div class="form-wrapper">
                <fieldset>
                    <legend>@Model.Name</legend>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Description)
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Address)
                    </div>

                    <label>Location on map</label>
                    <div id="map-canvas"></div>
                </fieldset>
            </div>
        </div>

        <div class="col-md-6 column-padding">
            @Html.Action("ClubTournaments", "Tournament", new { clubId = Model.Id })
        </div>
    </div>
    <div class="col-md-6">
        <span class="medium-header blue-header">Club members</span>
        @Html.Action("ClubMembers", new { clubId = @Model.Id })
    </div>

</div>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="~/Scripts/gmap-plugin.js"></script>
    <script>
        $(document).ready(function () {
            var options = {
                coordinates: '@Model.Coordinates'
            };
            $("#map-canvas").initializeMap(options);
        });
    </script>
