<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Igla Club</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryui")
                @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row navbar navbar-custom text-right text-primary">
                    <div class="col-xs-8 max-height">
                        <nav>
                            <div class="navbar-header">
                                <div class="btn-group">
                                <button type="button" class="button-custom-menu dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false" id="menuPlay">
                                    Play
                                    <span class="caret caret-custom-menu"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menuPlay">
                                    <li><a href="@Url.Action("Edit", "Account")">Tournaments</a></li>
                                    <li><a href="@Url.Action("Manage", "Account")">Results</a></li>
                                </ul></div>
                                <div class="btn-group">
                                <button type="button" class="button-custom-menu dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false" id="menuOrg">
                                    Organize
                                    <span class="caret caret-custom-menu"></span>
                                </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menuOrg">
                                        <li><a href="@Url.Action("Edit", "Account")">My tournaments</a></li>
                                        <li><a href="@Url.Action("Manage", "Account")">My clubs</a></li>
                                    </ul>
                                    </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xs-4 max-height">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
             @*   <div class="row logo"> </div>*@
                @{var message = TempData["Message"]; }
                @if (message != null && message is string)
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @message
                    </div>
                }
            
            </header>
            <div class="row wrapper">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
            
            
           
        
            @RenderSection("scripts", required: false)
        </div>
        
            <footer>
                <div class="footer-menu">
                                <span>@Html.ActionLink("Home", "Index", "Home")</span> |
                                <span>@Html.ActionLink("About", "About", "Home")</span>|
                                <span>@Html.ActionLink("Contact", "Contact", "Home")</span>
                            </div>
                <div class="row text-center text-muted small">
                    <p>&copy; @DateTime.Now.Year - Igla Club - Created by
                        <abbr title="bartlomiej.igla@gmail.com">Bartlomiej Igla</abbr>. All rights reserved.</p>
                </div>
            </footer>
    </body>
    

</html>
