<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Igla Club</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>

            
        @{
            var message = TempData["Message"];
            var type = TempData["MessageType"] != null ? TempData["MessageType"].ToString().ToLower() : "info";

            if (message != null && message is string)
            {
                 <div class="alert alert-@type alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                     @Html.Raw(message)
                 </div>
            }
        }
            
        <div class="container">
            @Html.Partial("_TopMenu")
            @RenderSection("featured", required: false)
            @RenderBody()
            
           
        
            </div>
       
        <footer>
                        <div class="footer-menu">
                            <span>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</span> |
                            <span>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</span>|
                            <span>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</span>
                        </div>
            <div class="row text-center text-muted small">
                <p>&copy; @DateTime.Now.Year - Igla Club - All rights reserved.</p>
            </div>

        </footer>
    </body>
    
    
        @RenderSection("scripts", required: false)
</html>
