<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Igla Club</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryui")
                @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row navbar navbar-custom text-right text-primary">

                    <div class="col-md-8 col-xs-12 max-height">
                        <nav>
                            <div class="navbar-header">
                                <div class="btn-group">
                                    <button type="button" class="button-custom-menu dropdown-toggle left-menu-button"
                                            data-toggle="dropdown" aria-expanded="false" id="menuPlay">
                                        Play
                                        <span class="caret caret-custom-menu"></span>
                                    </button>
                                    <ul class="dropdown-menu main-menu" role="menu" aria-labelledby="menuPlay">
                                        <li><a href="@Url.Action("MyTournamentsToPlayWrapper", "Tournament", new { area = "" }, null)">My Tournaments
                                                <br/><span class="menu-sub-text">Tournaments in which I participate</span>
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("AvailableTournamentsWrapper", "Tournament", new { area = "" }, null)">Tournaments in near
                                                <br/><span class="menu-sub-text">Find other interesting tournaments</span>
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("MyResults", "Results")">My Results
                                                <br/><span class="menu-sub-text">See results from my recent tournaments</span>
                                            </a>
                                        </li>
                                    </ul></div>
                                <div class="btn-group">
                                    <button type="button" class="button-custom-menu dropdown-toggle left-menu-button"
                                            data-toggle="dropdown" aria-expanded="false" id="menuOrg">
                                        Organize
                                        <span class="caret caret-custom-menu"></span>
                                    </button>
                                    <ul class="dropdown-menu main-menu" role="menu" aria-labelledby="menuOrg">
                                        <li><a href="@Url.Action("Create", "Tournament", new { area = "" }, null)">Create tournament
                                                <br/><span class="menu-sub-text">Add new tournament and invite users</span>
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("MyOrganizedTournaments", "Tournament", new { area = "" }, null)">My tournaments
                                                <br/><span class="menu-sub-text">Tournaments that I organize</span>
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("MyClubs", "Clubs", new { area = "" }, null)">My clubs
                                                <br/><span class="menu-sub-text">Bridge clubs that I manage</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="btn-group">
                                    <button type="button" class="button-custom-menu dropdown-toggle left-menu-button"
                                            data-toggle="dropdown" aria-expanded="false" id="menuBrowse">
                                        Browse
                                        <span class="caret caret-custom-menu"></span>
                                    </button>
                                    <ul class="dropdown-menu main-menu" role="menu" aria-labelledby="menuBrowse">
                                        <li><a href="@Url.Action("GetAll", "Tournament", new { area = "" }, null)">All tournaments</a></li>
                                        <li><a href="@Url.Action("MyClubs", "Clubs", new { area = "" }, null)">Players</a></li>
                                    </ul>
                                </div>
                                @Html.Partial("_LoginMobilePartial")
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-4 col-xs-12 hidden-xs max-height">
                        @Html.Partial("_LoginPartial")
                    </div>
@*                
                    <div class="col-xs-12 hidden-md hidden-sm hidden-lg max-height">
                        @Html.Partial("_LoginMobilePartial")
                    </div>*@
                </div>
             @*   <div class="row logo"> </div>*@
                @{
                    var message = TempData["Message"]; 
                    var type = TempData["MessageType"] != null ? TempData["MessageType"].ToString().ToLower() : "info"; 
                  }
                @if (message != null && message is string)
                {
                    <div class="alert alert-@type alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.Raw(message)
                    </div>
                }
            
            </header>
            <div class="row wrapper">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
            
            
           
        
            @RenderSection("scripts", required: false)
        </div>
        
            <footer>
                <div class="footer-menu">
                                <span>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</span> |
                                <span>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</span>|
                                <span>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</span>
                            </div>
                <div class="row text-center text-muted small">
                    <p>&copy; @DateTime.Now.Year - Igla Club - Created by
                        <abbr title="bartlomiej.igla@gmail.com">Bartlomiej Igla</abbr>. All rights reserved.</p>
                </div>
            </footer>
    </body>
    

</html>
