<div class ="login-partial">
@if (Request.IsAuthenticated)
{
    //todo required email
    @*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
            <div class="btn-group login-menu">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name<i class="glyphicon glyphicon-cog icon-with-margin"></i><span class="caret caret-black"></span>
                </button>
                <ul class="dropdown-menu login-dd" role="menu">
                    <li><a href="@Url.Action("Edit", "Account", new { area = "" }, null)">Edit profile</a></li>
                    <li><a href="@Url.Action("Manage", "Account", new { area = "" }, null)">Change password</a></li>
                    <li><a href="#">Account settings</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i>Log out</a></li>
                </ul>
            </div>
        }

} else {
    <ul class="list-inline">

        <li>
            <a href="@Url.Action("Register","Account", new { id = "registerLink", area = "" })"
               class="btn btn-default btn-group">
                Register
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account", new { id = "loginLink", area = "" })"
               class="btn btn-default btn-group">
               Log in
            </a>
        </li>
    </ul>
}
    </div>
