@if (Request.IsAuthenticated)
{
    <text>
    @*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name<i class="glyphicon glyphicon-cog icon-with-margin"></i><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Edit", "Account")">Edit profile</a></li>
                    <li><a href="@Url.Action("Manage", "Account")">Change password</a></li>
                    <li><a href="#">Account settings</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i>Log out</a></li>
                </ul>
            </div>
        }
    </text>
} else {
    <ul class="list-inline">

        <li>
            <a href="@Url.Action("Register","Account", new { id = "registerLink" })"
               class="btn btn-default btn-group">
                Register
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account", new { id = "loginLink" })"
               class="btn btn-default btn-group">
               Log in
            </a>
        </li>
    </ul>
}
