<nav id="navbar-example" class="navbar navbar-default navbar-static">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#top-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand small-logo" href="/">IGLAclub</a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        Play
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("PlayerTournaments", "Tournament", new { area = "" }, null)">My Tournaments<br/><span>Tournaments in which I participate</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Join", "Tournament", new { area = "" }, null)">Tournaments in near<br/><span>Find other interesting tournaments</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("PlayerResults", "Tournament", new { area = "" }, null)">My Results<br/><span>See results from my recent tournaments</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        Organize
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Create", "Tournament", new { area = "" }, null)">Create tournament<br/><span>Add new tournament and invite users</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("OwnerTournaments", "Tournament", new { area = "" }, null)">My tournaments<br/><span>Tournaments that I organize</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "ClubsOrganizer", new { area = "" }, null)">My clubs<br/><span>Bridge clubs that I manage</span></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("OrganizerFaq", "Home", new { area = "" }, null)">Faq<br/><span>Frequently asked questions</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        Browse
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("GetAll", "Tournament", new { area = "" }, null)">All tournaments<br /><span>Look thru all available tournaments</span></a></li>
                        @*todo <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("FindOnMap", "Tournament", new { area = "" }, null)">Find on map</a><br /><span>Look for something close to your location</span></li>*@
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Clubs", new { area = "" }, null)">Clubs<br /><span>Looking for a club in your neightbourhood?</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li id="fat-menu" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            @User.Identity.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "Account", new { area = "" }, null)">Edit profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Manage", "Account", new { area = "" }, null)">Change password</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Settings", "Account", new { area = "" }, null)">Account settings</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("LogOut","Account")"><i class="glyphicon glyphicon-off right-side-margin"></i>Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account", new { area = "" })"><i class="glyphicon glyphicon-log-in right-side-margin"></i>Login</a></li>
                    <li><a href="@Url.Action("Register", "Account", new { area = "" })"><i class="glyphicon glyphicon-user right-side-margin"></i>Register</a></li>
                }
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container-fluid -->
</nav>