<nav id="navbar-example" class="navbar navbar-default navbar-static">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IGLA Club</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                Play
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("PlayerTournaments", "Tournament", new { area = "" }, null)">My Tournaments</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("PlayerTournamentsOther", "Tournament", new { area = "" }, null)">Tournaments in near</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Results</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                Organize
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Create", "Tournament", new { area = "" }, null)">Create tournament</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("OwnerTournaments", "Tournament", new { area = "" }, null)">My tournaments</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("MyClubs", "Clubs", new { area = "" }, null)">My clubs</a></li>
                  @*<li role="presentation" class="divider"></li>
                  todo add short descriptions formenu item
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a></li>*@
              </ul>
            </li>
            <li class="dropdown">
              <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                Browse
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("GetAll", "Tournament", new { area = "" }, null)">All tournaments</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("MyClubs", "Clubs", new { area = "" }, null)">Players</a></li>
              </ul>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li id="fat-menu" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            @User.Identity.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "Account", new { area = "" }, null)">Edit profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Manage", "Account", new { area = "" }, null)">Change password</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account settings</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("LogOut","Account")"><i class="glyphicon glyphicon-off right-side-margin"></i>Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account", new { id = "loginLink", area = "" })">Login</a></li>
                    <li><a href="@Url.Action("Register", "Account", new { id = "registerLink", area = "" })">Register</a></li>
                }
            </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container-fluid -->
    </nav>