@using System.Globalization
@model List<IglaClub.Web.Models.ViewModels.PairRosterViewModel>

<div class="pairs">
    <p>Placing</p>
    <table class="table table-striped table-hover text-left">
        <tr>
            <th>Table</th>
            <th>NS</th>
            <th>EW</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TableNumber
                </td>
                <td>
                    <span class="label label-default label-light-gray">@(item.NsPair==null ? "-" : @item.NsPair.PairNumber.ToString(CultureInfo.InvariantCulture))</span>
                    @item.NsPair
                </td>
                <td>
                    <span class="label label-default label-light-gray">@(item.EwPair == null ? "-" : @item.EwPair.PairNumber.ToString(CultureInfo.InvariantCulture))</span>
                    @item.EwPair
                </td>

            </tr>
        }

    </table>
</div>