@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament
@{
    var status = @Model.TournamentStatus;
    var statusLabelClass = status == TournamentStatus.Planned ? "planned" : (status == TournamentStatus.Started ? "ongoing" :
    "past"); 
}
<div class="tournamentShortInfo">
    <span class="tournament-status @statusLabelClass">@Model.TournamentStatus.ToString() </span><br />
    @if (Model.TournamentStatus == TournamentStatus.Planned && Model.PlannedStartDate != null)
    {
        <span>
            <span class="descr-label">and will start on</span> @Model.PlannedStartDate.Value.ToLongDateString()
            <span class="descr-label">at</span> @Model.PlannedStartDate.Value.ToShortTimeString()
        </span>
    }
    @if (Model.TournamentStatus == TournamentStatus.Started && Model.StartDate != null)
    {
        <span>
            <span class="descr-label">and started on</span> @Model.StartDate.Value.ToLongDateString()
            <span class="descr-label">at</span> @Model.StartDate.Value.ToShortTimeString()
        </span>
    }
    <div>
        <span class="descr-label">Tournament owner: </span> @Model.Owner.DisplayName
    </div>
    <div>
        <span class="descr-label">Description: </span> <br/>@Model.Description
    </div>

    @if (@Model.Club != null)
    {<div>
        <span class="descr-label">Club: </span> @Model.Club.Name
    </div>
    }

</div>