@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

<div class="tournamentShortInfo">
    @if (@Model.Club != null)
    {
        <span class="descr-label">in </span> @Model.Club.Name @:,
    }
    @if (Model.TournamentStatus == TournamentStatus.Planned && Model.PlannedStartDate != null)
    {
        <span>
            <span class="descr-label">will start on</span> @Model.PlannedStartDate.Value.ToLongDateString()
            <span class="descr-label">at</span> @Model.PlannedStartDate.Value.ToShortTimeString()
        </span>
    }
    @if (Model.TournamentStatus == TournamentStatus.Started && Model.StartDate != null)
    {
        <span>
            <span class="descr-label">started on</span> @Model.StartDate.Value.ToLongDateString()
            <span class="descr-label">at</span> @Model.StartDate.Value.ToShortTimeString()
        </span>
    }
    <a class="" data-toggle="collapse" data-target="#viewdetails">Show details &raquo;</a>
    <div id="viewdetails" class="collapse">
        <div>
            <span class="descr-label">tournament owner: </span>@Model.Owner.DisplayName
        </div>
        <div>
            <span class="descr-label">description: </span>
            <br />@Model.Description
        </div>
        <span class="tournemanet-quick-edit">
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-small">
                <span class="glyphicon glyphicon-pencil"></span>Edit
            </a>
            <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-info btn-small">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
            <a href="@Url.Action("UndoStart", new { id = Model.Id })" class="btn btn-info btn-small">
                <span class="glyphicon glyphicon-remove"></span>Undo Start
            </a>
        </span>
    </div>



</div>
