@using IglaClub.ObjectModel.Consts
@using IglaClub.ObjectModel.Enums
@using IglaClub.Web.Helpers.Html
@model IglaClub.Web.Models.ViewModels.TounamentSingleListViewModel
@{
    var userAction = @Model.ManageMode ? "Manage" : "Details";
    var controller = "Tournament";
    var isShortList = @Model.IsShortList;
}
<span class="medium-header">@Model.Header</span>
    @if (Model.Tournaments.Any() || (Model.TournamentsPast != null && Model.TournamentsPast.Any()))
    {
        var validTournamentsCount = Model.Tournaments.Count;
        var rowNumber = 0;
        if (Model.NowPlayingMode)
        {
            userAction = "RoundDetails";
            controller = "Round";
        }

        var seeAllAction = @Model.ManageMode ? "OwnerTournaments" : "Join";
        <table class="table tournaments table-striped table-hover">
            @*//todo jesli turniej jest started to w date i hour wyswietlac date z pola StatredDate a nie planned*@
            @foreach (var item in Model.Tournaments.Union(Model.TournamentsPast))
            {
                var status = item.TournamentStatus;
                var shortDate = item.PlannedStartDate != null ? item.PlannedStartDate.Value.ToShortDateString() : "None";
                var hour = item.PlannedStartDate != null ? ((DateTime)item.PlannedStartDate).ToString("HH:mm") : "";
                var itemNotValid = Model.ManageMode && (item.TournamentStatus == TournamentStatus.Planned || item.TournamentStatus == TournamentStatus.Started) && item.PlannedStartDate < DateTime.Today.AddDays(-1);
                var rowClass = rowNumber >= validTournamentsCount ? "past-tournaments" : "";

                <tr class="@rowClass">
                    <td class="squeeze">@TournamentHelper.GetTournamentStatusIcon(status)</td>
                    <td>@Html.ActionLink(item.Name, @userAction, @controller, new {tournamentId = @item.Id}, null)</td>
                    <td class="squeeze">@(itemNotValid ? Html.Raw(BootstrapHelper.Popover(@StringResources.InvalidTournamentPopMsg, "ban-circle error")) : new HtmlString(""))</td>
                    <td class="hidden-xs squeeze">@Html.Raw(DateHelper.DaysLeftToDate(item.PlannedStartDate))</td>
                    <td class="visible-xs squeeze">@shortDate</td>
                    <td class="squeeze">@hour</td>
                    @if (String.IsNullOrEmpty(rowClass) && @Model.ShowSubscriptionStatus)
                    {
                        <td class="squeeze">@TournamentHelper.GetSubscribtionStatus(item.UserIsSubscribed(HttpContext.Current.User.Identity.Name), item.Id)</td>
                    }
                    else
                    {
                        <td class="squeeze"></td>
                    }
                </tr>
                rowNumber++;
            }
            @if(isShortList){
                <tr>
                    <td colspan="6" class="text-right" style="background-color: white;"><a href="@Url.Action(seeAllAction)">
                                                                                            <span class="glyphicon glyphicon-list right-side-margin"></span>See all...</a></td>
                </tr>
            }
        </table>
    }
    else
    {
    <p><i class="small text-muted">No tournaments to display</i></p>
    }

