@using System.Globalization
@model IglaClub.Web.Models.ViewModels.PairsViewModel

<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> @*todo change to local*@
<div class="pairs" id="participantsDiv">
    <p>Pairs list (@Model.PairsInTounament.Count):</p>
    <table class="table table-striped table-hover">
        @{
            var counter = 1;
            var users = new SelectList(Model.AvailableUsers,"Id","DisplayName");
        }
        @foreach (var pair in @Model.PairsInTounament)
        {            
            var p1Name = (pair.Player1 == null ? "Unknown" : pair.Player1.GetDisplayName());
            var p2Name = (pair.Player2 == null ? "Unknown" : pair.Player2.GetDisplayName());
            <tr>
                <td>@counter.</td>
                <td>
                    @p1Name
                </td>
                <td>
                    @p2Name
                </td>
                <td></td>
                <td>
                    <a href="#" class="removePairLink" onclick="removePair(@Model.Tournament.Id, @pair.Id)">Usuń</a>
                </td>
            </tr>
            counter++;
        }
        <tr>
            @{
                string currentUserId = string.Empty;
                string currentUserLogin = string.Empty;
                bool userSubscribed = Model.PairsInTounament.Any(p => p.Player1.Id == Model.CurrentUser.Id || p.Player2.Id == Model.CurrentUser.Id);

                if (Model.CurrentUser.Id != Model.Tournament.Owner.Id && !userSubscribed)
                {
                    currentUserId = Model.CurrentUser.Id.ToString(CultureInfo.InvariantCulture);
                    currentUserLogin = Model.CurrentUser.Name + " (" + Model.CurrentUser.Login + ")";
                }
            }
            <td></td>
            <td class="fullWidthInput">@Html.DropDownList("user1",users)</td>
            <td class="fullWidthInput">@Html.DropDownList("user2",users)</td>
            <td><input type="submit" class="pairSearchSubmit btn btn-default btn-small" id="pairSearchSubmit" value="Add" /></td>
        </tr>
    </table>
    
    
    @*<div id="dialog-form" title="Utwórz użytkownika w systemie IglaClub">
        <form>
            <label for="name">Login</label><input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />               
            <label for="email">Email</label><input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />               
            <label for="password">Hasło</label><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
        </form>
    </div>*@
    @Html.Partial("_QuickAddUser")
</div>


<script>
    $(document).ready(function() {
        $('#pairSearchSubmit').on("click", function() {
            var user1 = $('#user1').val();
            var user2 = $('#user2').val();
            if (user1 == '' || user2 == '') {
                alert("Nie wybrano użytkownika bądź jest nieprawidłowy");
                return false;
            }
            if (user1 == user2) {
                alert("Wybierz dwóch różnych użytkowników");
                return false;
            }
            $.ajax({
                url: "/Tournament/AddPair",
                type: "POST",
                data: { user1: user1, user2: user2, tournamentId: '@Model.Tournament.Id' },
                success: function(data) {
                    refreshParticipants();
                },
                error: function() {
                    alert("ajax failure");
                }
            });
            clearHiddenUsers();
        });
    });

    function removePair(tId, pairId) {
        $('.removePairLink').attr('href','');
        $.ajax({
            url: "/Tournament/RemovePair",
            type: "POST",
            async: false,
            data: { tournamentId: tId, pairId: pairId },
                success: refreshParticipants
        });
    }

    function refreshParticipants() {
        $('#participantsDiv').load('@Url.Action("Pairs", new { tournamentId = @Model.Tournament.Id })');
    }
    function clearHiddenUsers() {
        $('.hidden.user').val('');
    }
</script>