@using IglaClub.ObjectModel.Entities
@using IglaClub.ObjectModel.Enums
@model IEnumerable<Tournament>


<table class="tournamentsListTable table table-striped table-hover">

@foreach (var item in Model) {
    var date = item.PlannedStartDate != null ? ((DateTime)item.PlannedStartDate).ToString("dd MMM yyyy") : "";
    var hour = item.PlannedStartDate != null ? ((DateTime)item.PlannedStartDate).ToString("HH:mm") : "";
    <tr>
        <td>
            @if (item.Owner != null && item.Owner.Login == HttpContext.Current.User.Identity.Name)
            {
                @Html.ActionLink(item.Name, "Manage", "Tournament", new { id = @item.Id }, null)
            }
            else
            {
                if(@item.TournamentStatus == TournamentStatus.Planned)
                { @Html.ActionLink(item.Name, "Details", "Tournament", new { id = @item.Id }, null)}
                else if (@item.TournamentStatus == TournamentStatus.Started)
                {   @Html.ActionLink(item.Name, "RoundDetails", "Round", new {tournamentId = @item.Id}, null)};
            }
            
        </td>
        <td>
            @date
        </td><td>
                 @hour
             </td>
        <td>
            @{
                var currentUserIsSubscribed = item.UserIsSubscribed(HttpContext.Current.User.Identity.Name);
                if (currentUserIsSubscribed)
                {
                    <span class="glyphicon glyphicon-ok-circle"></span>
                }
            }
            </td>
    </tr>
}

</table>
