@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure that you want to delete this tournament?</h3>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description):
    </div>
    
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <br/>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate): @Html.DisplayFor(model => model.CreationDate)
    </div>
    <br />
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input class="btn btn-info btn-small" type="submit" value="Delete" />
    </p>
    @Html.ActionLink("Back to List", "Index")
}
