@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> @*todo change to local*@
<div class="">
    <p>@Html.ActionLink("Tournaments", "Index") > Details</p>
    <h3>@Model.Name</h3>
</div>

@Html.Partial("_TournamentShortInfo", Model)

<div class="">

    @if (Model.TournamentStatus != TournamentStatus.Planned)
    {
        @Html.Action("PairsResults", "Results", new {tournamentId = @Model.Id})
    }
    else
    {
        @Html.Action("PairsList", "Tournament", new {tournamentId = @Model.Id})
    }
    
          

</div>
<div class="col-md-6 action-pane">
    @if (Model.TournamentStatus == TournamentStatus.Started)
    {
        @Html.Action("PairRoster", new { tournamentId = @Model.Id });
    }
</div>
