@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Details of tournament " + @Model.Name;
    
}

@{
    var isSubscribed = @Model.UserIsSubscribed(User.Identity.Name);  
}
<div class="row">
    <div class="col-md-12 column-padding">
        <div>
            @*<p>@Html.ActionLink("Tournaments", "Index") > Details</p>*@
            <span class="medium-header right-side-margin">Tournament details</span>
            <span class="small-header">@Model.Name</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_TournamentShortInfo", Model)
            </div>
            @if (isSubscribed && Model.TournamentStatus != TournamentStatus.Finished)
            {
                var goToRoundDetailsText = Model.TournamentStatus == TournamentStatus.Planned ? "Wait for tournament start and click here" : "Go to my table details";
                var goToRoundDetailsAction = Model.TournamentStatus == TournamentStatus.Planned ?
                    Url.Action("Details", "Tournament", new { tournamentId = Model.Id })
                    : Url.Action("RoundDetails", "Round", new { tournamentId = Model.Id });

                
                <div class="col-md-12">
                    <p>
                            <a href="@goToRoundDetailsAction" class="green-link">
                            <i class="glyphicon glyphicon-triangle-right success"></i>
                            @goToRoundDetailsText
                        </a>
                    </p>
                </div>
            }
            <div class="col-md-6">
                @if (Model.TournamentStatus != TournamentStatus.Planned)
                {
                    @Html.Action("PairsResults", "Results", new { tournamentId = @Model.Id }) 
                }
                else
                {
            
                    @:<div class="pairs" id="participantsDiv">
                        @Html.Action("PairsList", "Tournament", new { tournamentId = @Model.Id })
                                    @:</div>
                        }
            </div>
            @*<div class="col-md-6 action-pane">
                @if (Model.TournamentStatus == TournamentStatus.Started)
                {
                    @Html.Action("PairRoster", new { tournamentId = @Model.Id });
                }
            </div>*@
        </div>
    </div>
</div>

