@using IglaClub.ObjectModel.Enums
@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> @*todo change to local*@
<div>
    <p>@Html.ActionLink("Tournaments", "Index") > Details</p>
    <span class="medium-header">@Model.Name</span>
</div>

<div class="row">
    <div class="col-md-6">       
        @Html.Partial("_TournamentShortInfo", Model)
    </div>
    <div class="col-md-6">
        @if (Model.TournamentStatus != TournamentStatus.Planned)
        {
            @Html.Action("PairsResults", "Results", new { tournamentId = @Model.Id }) 
        }
        else
        {
            @:<div class="pairs" id="participantsDiv">
                @Html.Action("PairsList", "Tournament", new { tournamentId = @Model.Id })
            @:</div>
        }
    </div>

</div>
<div class="col-md-6 action-pane">
    @if (Model.TournamentStatus == TournamentStatus.Started)
    {
        @Html.Action("PairRoster", new { tournamentId = @Model.Id });
    }
</div>
