@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tournament</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BoardsInRound)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BoardsInRound)
            @Html.ValidationMessageFor(model => model.BoardsInRound)
        </div>

        @Html.HiddenFor(model => model.Id)
        

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Manage tournament", "Manage", new { id = Model.Id})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
