@model IglaClub.ObjectModel.Entities.Tournament

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.Name</h2>
<div style="float: left">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BoardsInRound)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BoardsInRound)
                @Html.ValidationMessageFor(model => model.BoardsInRound)
            </div>
            <div class="editor-label">
                 @Html.LabelFor(model => model.PlannedStartDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PlannedStartDate, new { id = "datepicker" })
                @Html.ValidationMessageFor(model => model.PlannedStartDate)
            </div>
                            <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    <label>Location on map</label>
        <div id="map-canvas"></div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.StartDate)
            
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.TournamentStatus)
            @Html.HiddenFor(model => model.CurrentRound)
            @Html.HiddenFor(model => model.OwnerId)
            
            
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Manage tournament", "Manage", new { id = Model.Id})
    </div>
</div>
<div style="float: left; margin-left: 10px;">
    @Html.Action("TournamentParticipantsEdit", new { tournamentId = @Model.Id })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
