@model IEnumerable<IglaClub.ObjectModel.Entities.Tournament>


<div class="row well">
    @Html.ActionLink("Add tournament", "Create") 
    @*| 
    @Html.ActionLink("Users", "Create") | 
    @Html.ActionLink("Settings", "Create")*@ 
</div>

<div class="row">
    <div class="col-xs-4 oncoming">
        <h5>Oncoming</h5>
        @Html.Action("Oncoming")
    </div>
    <div class="col-xs-4 ongoing">
        <p>Ongoing</p>
        @Html.Action("Ongoing")
    </div>
    <div class="col-xs-4 past">
        <p>Past</p>
        @Html.Action("Past")
    </div>
    
</div>


