@model IglaClub.Web.Models.ViewModels.TournamentMainPageModel
@*//todo co jesli beda turnieje w np baden i krakowie, nie wyswitlimy komus z krk ze moze sie zapisac do baden, tylko do tych z okolicy..?*@
<div class="row">
    <div class="col-md-12 column-padding">
        @if (@Model.CurrentlyPlayedByUser.Any())
        {
            <div class="col-md-12">
                <div class="active-tournaments">
                    <span class="medium-header">You are playing now</span>
                    @foreach (var t in @Model.CurrentlyPlayedByUser)
                    {
                        <p>
                            <i class="glyphicon glyphicon-triangle-right success"></i>
                            @Html.ActionLink(t.Name, "RoundDetails", "Round", new { tournamentId = @t.Id }, new { @class = "green-link" })

                        </p>
                    }
                </div>
            </div>
        }

        <div class="col-md-6">
            @Html.Action("MyTournamentsToPlay")
        </div>
        <div class="col-md-6">
            @if (@Model.UserIsManagingTournament)
            {
                @Html.Action("OwnerTournamentsList")
            }
        </div>
        <div class="col-md-6">
            @Html.Action("TournamentsListPlannedUserNotSubscribedPartial")
        </div>
    </div>
</div>
