@model IEnumerable<IglaClub.ObjectModel.Entities.Tournament>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th class="headerStyle">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="headerStyle">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="headerStyle">
            @Html.DisplayNameFor(model => model.BoardsInRound)
        </th>
        <th class="headerStyle">
            @Html.DisplayNameFor(model => model.TournamentStatus)
        </th>
        <th class="headerStyle">
            @Html.DisplayNameFor(model => model.CurrentRound)
        </th >
        <th class="headerStyle">Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardsInRound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRound)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Manage", "Manage", new { id=item.Id })
        </td>
    </tr>
}

</table>
