@model IglaClub.Web.Models.ViewModels.TournamentResultsVm

@{
    ViewBag.Title = "Tournament results";
}


<h2>Tournament </h2>
@*@Html.DisplayFor(x=> x.Tournament.Results)*@
<table style="border: solid 1px">
    <th>Result.Id</th><th>Result.NS.Id</th><th>Result.EW.Id</th><th>Result.TableNumber</th><th>Result.RoundNumber</th><th>Result.NumberOfTricks</th><th>Result.ContractColor</th><th>esult.ContractLevel</th>
    @foreach (var result in Model.Tournament.Results)
    {
        <tr>
            <td>@result.Id</td><td>@result.NS.Id</td><td>@result.EW.Id</td><td>@result.TableNumber</td><td>@result.RoundNumber</td><td>@result.NumberOfTricks</td><td>@result.ContractColor</td><td>@result.ContractLevel</td>
        </tr>
    }
</table>

@{
    var grid = new WebGrid(Model.ResultsVm);
}

@grid.GetHtml()
@*Pair:
@Html.DisplayFor(x=>x.Tournament.Pairs[0])
Result:
@Html.DisplayFor(x=>x.Tournament.Results[0])*@
<div>    @Html.ActionLink("Manage tournament", "Manage", new { id = Model.Tournament.Id})</div>
