@using IglaClub.ObjectModel.Consts
@using IglaClub.ObjectModel.Enums
@model IglaClub.Web.Models.ViewModels.TournamentManageVm
@{
    ViewBag.Title = "Manage tournament " + Model.Tournament.Name;
}
@{
    var status = @Model.Tournament.TournamentStatus;
    bool isStarted = status == TournamentStatus.Started;
    bool isPlanned = status == TournamentStatus.Planned;
    
}
    <div class="row">
        <div class="col-md-12 col-xs-12 column-padding">
<div class="col-md-12 col-sm-12 col-xs-12">
    @*<p>@Html.ActionLink("Tournaments", "Index") > Manage tournament</p>*@
    <span class="medium-header">
        @Model.Tournament.Name
    </span>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.Partial("_TournamentShortInfo", Model.Tournament)
</div>
@if (isStarted)
{
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                @{
                    var toFinish = Model.Tournament.ResultsNotFinishedInCurrentRound;
                    var roundsLeftClass = toFinish > 0 ? "warning" : "success";
                }
                <table class="table table-noborder table-small-padding">
                    <tr>
                        <td>
                            <label><span class="label label-default">@Model.Tournament.CurrentRound.</span> round</label>
                            @*//todo maybe move this next to header*@
                        </td>
                        <td class="squeeze">
                            @Html.Partial("_TournamentStartedActions", @Model.Tournament, new ViewDataDictionary { { "notFinishedYet", toFinish > 0 } })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><span class="label label-@roundsLeftClass">@toFinish</span> results not entered yet </label>
                        </td>
                        <td class="squeeze">

                            <a href="@Url.Action("Manage", "Results", new { tournamentId = Model.Tournament.Id })" class = "btn btn-default btn-short" title="@StringResources.EditResultTitle">
                                <i class="glyphicon glyphicon-edit right-side-margin"></i>Edit results
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        @Html.Action("PairRoster", new { tournamentId = @Model.Tournament.Id })

    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        @Html.Action("PairsResults", "Results", new { tournamentId = @Model.Tournament.Id })
    </div>
}
@if (isPlanned)
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ActionLink("Start Tournament", "Start", new { id = Model.Tournament.Id }, new { @class = "btn btn-success" })
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        <div class="pairs" id="participantsDiv">
            @Html.Action("TournamentParticipantsEdit", new { tournamentId = @Model.Tournament.Id })
        </div>
        <div id="quickAddUserDiv" class="quick-add-user">
        @Html.Partial("_QuickAddUser")
            </div>
    </div>           
}
    </div>
    </div>


