@using IglaClub.ObjectModel.Entities
@using IglaClub.ObjectModel.Enums
@using Pair = IglaClub.ObjectModel.Entities.Pair
@model IglaClub.Web.Models.ViewModels.TournamentManageVm

@{
    ViewBag.Title = "Manage tournament " + Model.Tournament.Name;
    
}


    <div class="row">
        <p>Manage tournament</p>
        <h3>@Model.Tournament.Name</h3>
    </div>
    <div class="row">
        Tournament is <strong>@Model.Tournament.TournamentStatus.ToString() </strong>
        @if (Model.Tournament.TournamentStatus == TournamentStatus.Planned && Model.Tournament.PlannedStartDate != null)
        {
            <span><i class="small text-muted">will start on</i> @Model.Tournament.PlannedStartDate.Value.ToLongDateString() 
                <i class="small text-muted">at</i> @Model.Tournament.PlannedStartDate.Value.ToShortTimeString()</span>
        }
        <button class="btn btn-info btn-small">
            <span class="glyphicon glyphicon-pencil"></span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Tournament.Id })</button>
        <button class="btn btn-info btn-small">
            <span class="glyphicon glyphicon-remove"></span>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Tournament.Id })</button>
        <br />
    </div>
    <div class="row">
        <div class="col-md-4">
            @(Model.Tournament.TournamentStatus == TournamentStatus.Planned ?
            Html.Action("Pairs", new { tournamentId = @Model.Tournament.Id }) :
            Html.Action("PairsResults", "Results", new { tournamentId = @Model.Tournament.Id }))
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">

            @if (Model.Tournament.TournamentStatus == TournamentStatus.Planned)
            {
                <button class="btn btn-primary">
                    @Html.ActionLink("Start Tournament", "Start", new { id = Model.Tournament.Id })
                </button>
            }
            @if (Model.Tournament.TournamentStatus == TournamentStatus.Started)
            {
                <button class="btn btn-primary">
                    @Html.ActionLink("Manage results", "Manage", "Results", new { tournamentId = Model.Tournament.Id }, null)
                </button>
                <button class="btn btn-primary">
                    @Html.ActionLink("Calculate results", "CalculateResults", new { id = Model.Tournament.Id })
                </button>
                if (Model.Tournament.TournamentMovingType == TournamentMovingType.Cavendish)
                {
                <button class="btn btn-primary">
                    @Html.ActionLink("Generate next round", "GenerateNextRound",
                        new { tournamentId = Model.Tournament.Id, withPairsRepeat = false })
                </button>
                }
                else
                {
                <button class="btn btn-primary">
                    @Html.ActionLink("Move to the next round", "MoveToNextRound",
                        new { tournamentId = Model.Tournament.Id, withPairsRepeat = false })
                </button>
                }
            }


            @if (Model.Tournament.TournamentStatus == TournamentStatus.Started)
            {
                @Html.Label("Results left to complete round: " + Model.ResultsToComplete)
                @Html.Label("Round number: " + Model.Tournament.CurrentRound)
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

