@using IglaClub.ObjectModel.Entities
@using IglaClub.ObjectModel.Enums
@using Pair = IglaClub.ObjectModel.Entities.Pair
@model IglaClub.Web.Models.ViewModels.TournamentManageVm

@{
    ViewBag.Title = "Manage tournament " + Model.Tournament.Name;
    
}

<h2>Manage tournament [@Model.Tournament.Name]</h2>
<div>
    <div style="float: left">
        <ul>
            <li>@Html.ActionLink("Edit details", "Edit", new { id = Model.Tournament.Id })</li>
            <li>@Html.ActionLink("Delete tournament", "Delete", new { id = Model.Tournament.Id })</li>
            <li>@Html.ActionLink("Start Tournament", "Start", new { id = Model.Tournament.Id })</li>
            <li>@Html.ActionLink("Manage results", "Manage","Results", new { tournamentId = Model.Tournament.Id },null)</li>
            <li>@Html.ActionLink("Calculate results", "CalculateResults", new { id = Model.Tournament.Id })</li>
            @if (Model.Tournament.TournamentStatus == TournamentStatus.Started && Model.Tournament.TournamentMovingType == TournamentMovingType.Cavendish)
            {
                <li>@Html.ActionLink("Generate next round", "GenerateNextRound", new { tournamentId = Model.Tournament.Id })</li>
            }
        </ul>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    Tournament is <strong>@Model.Tournament.TournamentStatus.ToString() </strong><br/>
    @Html.Action("Pairs", new { tournamentId = @Model.Tournament.Id} )
</div>
