@using IglaClub.ObjectModel.Enums
@model IglaClub.Web.Models.ViewModels.TournamentManageVm

@{
    ViewBag.Title = "Manage tournament " + Model.Tournament.Name;
}
@{
    var status = @Model.Tournament.TournamentStatus;
    bool isStarted = status == TournamentStatus.Started;
    bool isPlanned = status == TournamentStatus.Planned;
    //var statusLabelClass = isPlanned ? "planned" : (isStarted ? "ongoing" : "past");
    //var statusLabel = isPlanned ? "not started" : (isStarted ? "started" : "finished");
    //var resultsLeftClass = Model.Tournament.ResultsNotFinishedInCurrentRound == 0 ? "text-success" : "text-danger"; 
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <p>@Html.ActionLink("Tournaments", "Index") > Manage tournament</p>
    <span class="medium-header">
        @*<span class="tournament-status @statusLabelClass">@statusLabel</span>*@
        @Model.Tournament.Name
    </span>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.Partial("_TournamentShortInfo", Model.Tournament)
</div>
@if (isStarted)
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.Partial("_TournamentStartedActions", @Model.Tournament)
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="round-info">
            <label><span class="label label-warning">@Model.Tournament.CurrentRound.</span> round</label>
            <label><span class="label label-warning">@Model.Tournament.ResultsNotFinishedInCurrentRound</span> results left</label>
            @*todo green if rounds 0*@
        </div>
    </div>  
    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        @Html.Action("PairRoster", new { tournamentId = @Model.Tournament.Id })
        @*todo numer pary polepszyc*@
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        @Html.Action("PairsResults", "Results", new { tournamentId = @Model.Tournament.Id })
    </div>
}
@if (isPlanned)
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ActionLink("Start Tournament", "Start", new { id = Model.Tournament.Id }, new { @class = "btn btn-success" })
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 action-pane">
        <div class="pairs" id="participantsDiv">
            @Html.Action("TournamentParticipantsEdit", new { tournamentId = @Model.Tournament.Id })
        </div>
        <div id="quickAddUserDiv">
        @Html.Partial("_QuickAddUser")
            </div>
    </div>           
}

<script src="~/Scripts/pairs.js"></script>
<script>
    $(document).ready(function (){
        var options = {
            tournamentId: '@Model.Tournament.Id',
            dataUrl: '@Url.Action("TournamentParticipantsEdit", new { tournamentId = @Model.Tournament.Id })'
            //refreshUrl: '@Url.Action("QuickUserPartial")'
                };
        $(this).initializePairsEdit(options);
    });
</script>



