@using IglaClub.ObjectModel.Entities
@using IglaClub.ObjectModel.Enums
@using Pair = IglaClub.ObjectModel.Entities.Pair
@model IglaClub.Web.Models.ViewModels.TournamentManageVm

@{
    ViewBag.Title = "Manage tournament " + Model.Tournament.Name;
    
}

<h2>Manage tournament </h2>
<div>
    <div style="float: left">
        <ul>
            <li>@Html.ActionLink("Edit details", "Edit", new { id = Model.Tournament.Id })</li>
            <li>@Html.ActionLink("Delete tournament", "Delete")</li>
            <li>@Html.ActionLink("Start Tournament", "Start")</li>
            <li>@Html.ActionLink("Calculate results", "CalculateResults")</li>
            @if (Model.Tournament.TournamentStatus == TournamentStatus.Started && Model.Tournament.TournamentType == TournamentTypes.Cavendish)
            {
                <li>@Html.ActionLink("Generate next round", "GenerateNextRound")</li>
            }
        </ul>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
   
    <div style="float: right">
        <h4>Lista zapisanych par:</h4>
        <table>
            @foreach (Pair pair in Model.Tournament.Pairs)
            {
                var p1Name = (pair.Player1 == null ? "Unknown" : pair.Player1.Name);
                var p2Name = (pair.Player2 == null ? "Unknown" : pair.Player2.Name);
                <tr>
                    <td>
                        @p1Name - @p2Name
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemovePair", new { tournamentId=Model.Tournament.Id, pairId = @pair.Id })
                    </td>
                </tr>
            }
        </table>
        
        @Html.ActionLink("Add pair", "AddPair", new { id = Model.Tournament.Id })
    </div>
</div>
