@using IglaClub.Web.Helpers.Html
@model IList<IglaClub.ObjectModel.Entities.Tournament>

@{
    ViewBag.Title = "All tournaments";
    Layout = "../Shared/_Layout.cshtml"; 
}

<div class="row">
    <span class="medium-header">@ViewBag.Title</span>
    @*TODO add tournament button*@
    @if (Model.Any())
    {
        <table class="tournamentsListTable table table-striped table-hover">

            @foreach (var item in Model)
            {
                var date = item.PlannedStartDate != null ? ((DateTime)item.PlannedStartDate).ToString("dd MMM yyyy") : "";
                var hour = item.PlannedStartDate != null ? ((DateTime)item.PlannedStartDate).ToString("HH:mm") : "";
                <tr>
                    <td>
                        @TournamentHelper.GetTournamentStatusIcon(item.TournamentStatus)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Manage", "Tournament", new { id = @item.Id }, null)
                    </td>
                    <td>
                        @if (item.PlannedStartDate != null)
                        {
                            <span>@DateHelper.DaysLeftToDate((DateTime)item.PlannedStartDate)</span>
                        }
                        else
                        {
                            <span>Not set yet</span>
                        }
                    </td>
                    <td>
                        @hour
                    </td>
                    <td>
                        @if (item.Owner != null && item.Owner.Login == HttpContext.Current.User.Identity.Name)
                        {
                            <span class="edit-button">
                                <a href="@Url.Action("Manage", "Tournament", new { id = item.Id }, null)">
                                    <i class="glyphicon glyphicon-pencil"></i>Manage
                                </a>
                            </span>
                        }
                    </td>
                    <td>
                        @{
                        var currentUserIsSubscribed = item.UserIsSubscribed(HttpContext.Current.User.Identity.Name);
                        if (currentUserIsSubscribed)
                        {
                            <span class="glyphicon glyphicon-ok-circle" title="You are subscribed to this tournament"></span>
                            <span>Joined</span>
                        }
                        }
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p><i class="small text-muted">No tournaments to display</i></p>
    }

</div>
