@model IglaClub.ObjectModel.Entities.Club

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12  column-padding">


        <div class="col-md-6">
            
    <button type="button" class="btn btn-primary btn-small" id="pairSearchSubmit">Subscribe</button>
            <div class="form-wrapper">
                <fieldset>
                    <legend>@Model.Name</legend>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Description)
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Address)
                    </div>

                    <label>Location on map</label>
                    <div id="map-canvas"></div>
                </fieldset>
            </div>
            
            
        @*<span class="medium-header blue-header">Club members</span>*@
        @Html.Action("ClubMembers", new { clubId = @Model.Id })
        </div>

        <div class="col-md-6">
            <a  href="@Url.Action("Create","Tournament", new {clubId = Model.Id})" class="btn btn-primary btn-small"><i class="glyphicon glyphicon-plus right-side-margin"></i>Create Tournament</a>
           <br/>
             @Html.Action("ClubTournaments", "Tournament", new { clubId = Model.Id })
        </div>
    </div>



    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="~/Scripts/gmap-plugin.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            coordinates: '@Model.Coordinates'
        };
        $("#map-canvas").initializeMap(options);
    });
</script>
