@model IglaClub.ObjectModel.Entities.Club

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 column-padding">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="create-tournament">
        <legend>Edit @Model.Name </legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Coordinates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coordinates)
            @Html.ValidationMessageFor(model => model.Coordinates)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address, new {@id="pac-input", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        
    <label>Location on map</label>
        <div id="map-canvas"></div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Coordinates, new {id = "coords"})

        <p class="submit-button">
            <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok right-side-margin"></span>Save</button>
        </p>
    </fieldset>
}
</div></div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="~/Scripts/gmap-plugin.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            coordinates: '@Model.Coordinates'
        };
        $("#map-canvas").initializeMap(options);
    });
</script>
