@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Witamy na stronie służącej do prostego zarządzania turniejami. Pozwala ono stworzyć turniej który można poprowadzić wraz ze znajomymi.
        Na razie wersja jest bardzo początkowa, pozwala na stworzenie tylko turnieju typu cavendish. 
        Napisana jest tylko w języku angielskim (jak widać, ta strona jest wyjątkiem). 
        Mam nadzieję, że jak najszybciej powstanie także w innych językach.
    </p>

    <p>
        W razie wszelkich niejasności proszę o kontakt. (bartlomiej.igla@gmail.com)
    </p>

</article>

<aside>
    <h3>Dodatkowe opcje:</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>